# --- Web3 / Solidity / Crypto ---
# Hardhat & Truffle artifacts
artifacts/
cache/
typechain/
typechain-types/
coverage/
coverage.json
.openzeppelin/

# Foundry (Forge) artifacts
out/
.forge/
broadcast/

# General Blockchain/Web3 keys (CRITICAL SAFETY)
.env
.env.secret
.env.local
*.key
wallet.json
*secret.json

# --- JavaScript / Node.js (Crucial for Web3 Frontends) ---
node_modules/
/npm-debug.log*
/yarn-error.log*
/yarn-debug.log*
dist/

# --- Go ---
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# --- Rust ---
/target/
**/*.rs.bk

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
ENV/

# --- Java ---
*.class
*.log
*.jar
*.war
*.ear
build/
target/
.gradle/

# --- C / C++ ---
*.o
*.obj
*.out
*.exe

# --- IDEs and OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ignore inner repository settings
**/.git/

# Other Files.
SUBMODULES.md
